div {

    background-image: url('https://cdn.wallpapersafari.com/12/50/HxY48y.jpg');
background-size: cover;
background-repeat: no-repeat;
}

 form {

        background-image: url('https://cdn.wallpapersafari.com/12/50/HxY48y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

h1 {
    font-family: "Futura";

}

h3 {
    font-family: "Futura";

}

button {
    font-family: "Futura";

}

