#recipe-image {
    margin-left: 2%;
    max-height: 600px;
    border-radius: 10px;
    float:right;
}

#title-container {
    width: 85vw;
    display: block;
    text-justify: left;
    padding: 20px;
    text-decoration: none;
    border: 1px solid #777777;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 20px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(119, 119, 119, .6);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#instructions-container {
    width: 85vw;
    margin-bottom: 3%;
    display: block;
    text-justify: left;
    padding: 20px;
    text-decoration: none;
    border: 1px solid #777777;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 20px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(119, 119, 119, .6);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#instruction-btn {
    background-color: #4f7a7f;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    height: 30px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    margin-left: 10px;
}

#step-container {
    width: 80%;
}

.cookTime {
    text-shadow: 2px 2px 4px #000000;
    font-family: "chalk", Fallback, serif;
}

.recipePage{
    width:90vw;
    margin:auto;
}