.dashboard {
    text-align: center;
}

.dashboardImg {
    width: 65vw;
    margin: auto;
}

.savedLabel{
    color:white;
    font-size:50px;
}

.savedTitle {
    color: white;
    font-family: "chalk", Fallback, serif;
    font-size: 200%;
    min-height:15vh;
}

.savedRecipeDiv {
    overflow: auto;
    width: 30vw;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(119, 119, 119, .6);
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 15px;
    min-height:30vh;
}

.savedRecipes {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

.savedPic {
    max-width: 15vw;
    float: left;
    border-radius: 10px;
}

.savedRecipeName {
    color: white;
    font-size: 200%;
    font-family: 'chalk', Fallback, serif;
}

.viewBtn {
    background-color: #4f7a7f;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    width: 200px;
    font-family: "chalk", Fallback, Serif;
}

.dltBtn {
    background-color: #4f7a7f;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    width: 200px;
    font-family: "chalk", Fallback, Serif;
    margin-left: 5%;
}

.btnDiv{
    margin-top:1%;
}

#user-saved {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
}

#user-created {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
}