.timerBtn {
  background-color: #4f7a7f;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 200px;
  font-family: "chalk", Fallback, Serif;
  margin-left: 1%;
}

.timer {
  margin-left: 1%;
}