.searchTitle {
    text-align: center;
    font-size: 75px;
    font-family: 'Playfair Display SC', serif;
    ;
}

.searchBox {
    border-radius: 5px;
    height: 5%;
    width: 50%;
    text-align: center;
    margin-right: 1%;
    font-size: 45px;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.searchRecipe {
    background-color: #4f7a7f;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    height: 100%;
    width: 20%;
    margin-top: -2%;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.dishPic {
    max-width: 300px;
    float: left;
}

.dishName {
    margin-left: 50%;
    font-size: 45px;
    font-family: 'Playfair Display SC', serif;
    ;
}

.recipeList {
    display: block;
    text-justify: left;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #777777;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 35px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:slategray;
}

#recipeResults {
    text-align: center;
    padding: 0 15%;
}

#recipeUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#searchForm {
    text-align: center;
}