.searchTitle {
    text-align: center;
}

.searchBox {
    border-radius: 5px;
    height : 20px;
    width : 500px;
    text-align: center;
    margin-right:1%;
    font-family: "Futura";

}


 .searchRecipe {
    background-color: #4f7a7f; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    width: 100px;
    font-family: "Futura";
}

.recipeList{
    display: block;
    text-justify: left;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #777777;
    margin-top: 2%;
    border-radius: 10px;
    font-family: "Futura";

}


#recipeResults {
    text-align: left;
    padding: 0 15%;
}

#recipeUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#searchForm {
    text-align: center;
}

div {

    background-image: url('https://cdn.wallpapersafari.com/12/50/HxY48y.jpg');
background-size: cover;
background-repeat: no-repeat;
}