#navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width:100%;
}

.navbarli {
    float:left;
}

a {
    font-family: 'Playfair Display SC', serif;
}

h1{
    font-family: 'Playfair Display SC', serif;

}

.navbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlilog a{
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlilog a:hover {
    background-color: #111;
}

.navbarli a:hover {
    background-color: #111;
}


#navbar {
    display: block;
}

/* .navbarli:last-child {
    border-right: none;
} */