.registerForm {
    width: 60vw;
    margin: auto;
}

.registerTitle {
    color: white;
}

.register {
    background-color: #4f7a7f;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    height: 100%;
    width: 20%;
    margin-top: -2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 4px #000000;
    ;
    margin-top: 4%
}

#register {
    text-align: center;
    background-color: #777777;
    border-radius: 25px;
    border: 5px solid white;
    width: 50vw;
    padding: 40px;
}